@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override async Task<Task> OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("TakePermation");
        return base.OnInitializedAsync();
    }
}
